import {{class}}, { UnexpectedNullError, InvalidPropertyError, } from "./{{class}}"
{{#props}}
{{#importFilePath}}
import {{type}} from "{{{importFilePath}}}"
import parse{{type}} from "{{{importFilePath}}}.parser"
{{/importFilePath}}
{{/props}}

export class ParseError extends Error {
  constructor (message: string) {
    super("parse{{class}} TypeError: " + message)
  }
}

export default function parse{{class}} (data: any) {
  if (typeof data !== "object") {
    throw new ParseError("Given data is not an object.")
  }
  {{#props}}
  {{#importFilePath}}
  const {{name}}: {{type}} = parse{{type}}(data["{{name}}"])
  {{/importFilePath}}
  {{^importFilePath}}
  const {{name}}: {{type}} = data["{{name}}"]
  if (typeof {{name}} !== "{{type}}") {
    throw new ParseError("{{name}} is not a {{type}}")
  }
  {{/importFilePath}}
  {{/props}}
  return new {{class}}(
  {{#props}}
    {{name}},
  {{/props}}
  )
}
